.modal-content {
    height: 100% !important;
}

.modal-type-multiengine {
    top: 3em !important;
}

.CodeMirror {
    border: 1px solid grey;
}

div.xblock-actions ul {
    list-style-type: none;
}